<h1>Accounts</h1>
<%= button_to 'Log out', destroy_user_session_path, method: :delete %> 
<h2>Welcome <%= current_user.first_name %></h2>
<hr /> 

<%= link_to "your accounts", new_account_path %> 
<ul>
  <% @accounts.each do |a| %> 
  <li>
    <%= a.name %> - $<%= a.balance %> 
  </li>
  <% end %> 
</ul>